body{
    background-color: white;
    margin: 0;
    
    
    

}

#Brand {
   justify-content: inline start;
}

nav {
  background-color: black;
  position: sticky;
  top: 0;
  border: 1px white;
  display: block;
}


ul {
    display: flex;
    justify-content: center;

  }
  ul li {
    list-style: none;
    margin: 2px 30px;
  }
  .menu {
    display: none;
  }
  a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }



  container-tech {
      height: 500px;
      flex: 1 30%;
      background-size: cover;
    
  }

  container-tech img {
      text-align: right;
  }

}


h3 {
  justify-content: center;
}




.omnie {
  margin-top: 0px;
}

.container-logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-tech {
  text-align: center;
}


.projects-div {
  text-align: center;
}



.card img {
  height: 100px;
}

.carousel-item img {
  width: 20%;
}


h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


.info {
  margin-left: 400px;
  margin-right: 400px;
  background-color: whitesmoke;
}




